{% extends 'nav.html' %}

{% block head %}
<style>
    .prodivele{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prodivele>h1{
        text-align: center;
    }

    .proimg{
        width: 300px;
        height: 400px;
    }

    .proinfo{
        width: 500px;
        height: 500px;
        padding: 80px;
    }
</style>
{% endblock head %}

{% block body %}
        <div class="prodivele">
            {% for i in products %}
                <div class="proimg">
                    <img src="{{i.Image.url}}" alt="">
                </div>
                <div class="proinfo">
                    <h1>{{i.Name}}</h1><br><br>
                    <h5>{{i.Info}}</h5><br>
                    <h5><b>{{i.Cost}}/- Rs</b></h5><br><br>
                    <div style="display: flex; justify-content: start; align-items: center;">
                        <button class="btn btn-warning w-auto me-5" style="font-size: 12px;">ADD TO CART</button>
                        <a href="{% url 'APP:buynow' i.slug %}"><button class="btn btn-primary w-auto" style="font-size: 12px;">BUY NOW</button></a>
                    </div>
                </div>
            {% endfor %}
            <!-- <h1>{{products}}</h1> -->
        </div>
{% endblock body %}