{% extends 'nav.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'APPLEPAGE.css' %}">


{% endblock head %}

{% block body %}
        <div class="prodivelem">
            {% for i in products %}
                <div class="proimage">
                    <img src="{{i.Image.url}}" alt="">
                </div>
                <div class="proinfom">
                    <h1>{{i.Name}}</h1><br><br>
                    <h5>{{i.Info}}</h5><br>
                    <h5><b>{{i.Cost}}/- Rs</b></h5>
                    <h6 style="color: rgb(0, 255, 17);">Instock</h6>
                    <br><br>
                    <!-- <div style="display: flex; justify-content: start; align-items: center;">
                        <a href="{% url 'APP:buynow' i.id %}"><button class="btn btn-primary w-auto" style="font-size: 12px;">BUY NOW</button></a>
                    </div> -->
                </div>
            {% endfor %}
            <!-- <h1>{{products}}</h1> -->
        </div>
{% endblock body %}