{% extends 'nav.html' %}
{% load static %}

{% block head %}

<style>
    .container1{
        width: 50%;
        height: 100vh;
        position: relative;
        top: 200px;
        padding: 30px 0px;
        /* border: solid 1px black; */
    }

    .container1>button{
        position: relative;
        left: 75%;
        right: 0px;
    }
</style>

{% endblock head %}

{% block body %}
    <div class="container1 mx-auto">
        {% if messages %}
            {% for j in messages %}
                <div class="alert alert-danger">
                    {{j}}
                </div>
            {% endfor %}
        {% endif %}


        <form method="post">
            {% csrf_token %}
            <div>
                <div>
                    <label class="form-label mt-2 fs-6">Enter your Email:</label>
                    <input class="form-control" type="email" name="email">
                </div>
            </div>
            <button class="btn btn-primary w-25 mt-5">SEND OTP</button>
        </form>
        
    </div>
{% endblock body %}