{% extends 'nav.html' %}
{% load static %}

{% block head %}
<style>
    .reg{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: yellowgreen; */
    }

    .registerform{
            width: 750px;
    }

    @media only screen and (max-width:360px){
        .registerform{
            width: 300px;
        }
    }

    @media only screen and (max-width:425px){
        .registerform{
            width: 330px;
        }
    }

    @media only screen and (max-width:768px){
        .registerform{
            width: 600px;
        }
    }
</style>
{% endblock head %}

{% block body %}
<div class="reg mt-5">
    <form action="" method="post" enctype="multipart/form-data" class="registerform mx-auto">
        {% csrf_token %}
        <h1 class="mb-4">Register</h1>
        {% if message %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% elif error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="un" class="form-label">User name</label>
            <input type="text" name="username" id="un" class="form-control" value="{{username}}">
        </div>
        <div class="mb-3">
            <label for="fn" class="form-label">First name</label>
            <input type="text" name="first_name" id="fn" class="form-control" value="{{firstname}}">
        </div>
        <div class="mb-3">
            <label for="ln" class="form-label">Last name</label>
            <input type="text" name="last_name" id="ln" class="form-control" value="{{lastname}}">
        </div>
        <div class="mb-3">
            <label for="em" class="form-label">Email</label>
            <div class='d-flex justify-content-between'>
                <input type="email" name="email" id="em" class="form-control w-75" value="{{email}}">
                <button type="submit" name="send_otp" class='btn btn-outline-success w-auto'>Send OTP</button>
            </div>
            {% if otp_sent %}
            <div class="mb-3">
                <label for="otpInput" class="form-label">Enter OTP</label>
                <div class='d-flex justify-content-between'>
                    <input type='number' name='emailOTP' id="otpInput" class='form-control w-75' value={{entered_otp}} placeholder='Enter OTP'>
                    <button type="submit" name="verify_otp" class='btn btn-outline-info w-auto' >Verify</button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="ps" class="form-label">Password</label>
            <input type="password" name="password" id="ps" class="form-control">
        </div>

        <div class="d-flex justify-content-between">
            <div>already registered? <a href="{% url 'APP:login' %}">Login</a></div>
            <input type="submit" class="btn btn-primary w-25">
        </div>
    </form>
</div>

<script src="{% static 'userjs.js' %}"></script>

{% endblock body %}