.cartitemsdiv{
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}

.divnames{
    width: 470%;
    padding: 0px 50px;
}

.divnames+div>a>button{
    width: 120px;
}

.divnames>h4 , .divnames>h5{
    width: fit-content;
    text-align:start;
    /* background-color: yellowgreen; */
}

.divnames>div{
    width: 150px;
    /* background-color: violet; */
}


.cartitemsdiv img{
    width: 150px;
    height: 170px;
}

.lastdiv{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.divnames>div>a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alldivs{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.paymentform{
    width: 60%;
    height: 500px;
    position: relative;
    top: 8px;
    margin-right: 50px;
    /* background-color: rgba(206, 206, 206, 0.688); */
    
}

.allitems{
    width: 100%;
    height: 500px;
    overflow: scroll;
    /* background-color: yellowgreen; */
}

.cartitemsdivallele{
    width: 100%;
    /* background-color: yellow; */
    position: relative;
    top: 35px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* ==================================================== */

@media only screen and (max-width:360px){
    .cartitemsdiv{
        width: 100%;
        height: auto;
        padding: 0px;
        margin-bottom: 90px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: red; */
    }
    
    .divnames{
        width: 100%;
        height: 100px;
        padding: 0px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        /* background-color: yellowgreen; */
    }
    
    .divnames+div>a>button{
        width: 80px;
        font-size: 10px;
    }

    .divnames+div{
        width: 70px;
    }
    
    .divnames>h4 , .divnames>h5{
        width: fit-content;
        font-size: 15px;
        text-align:start;
        /* background-color: yellowgreen; */
    }

    .divnames p{
        font-size: 15px;
    }
    
    .divnames>div{
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: violet; */
    }

    .divnames>div>a{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .cartitemsdiv img{
        width: 60px;
        height: 80px;
    }
    
    .lastdiv{
        width: 100%;
        height: 10vh;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    .alldivs{
        width: 100%;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        padding: 500px 0px;
    }

    .totalpri{
        width: 300px;
        height: fit-content;
    }
    
    .paymentform{
        width: 100%;
        height: 500px;
        position: relative;
        top: 80px;
        margin-right:0px;
        padding: 8px;

        /* background-color: rgba(206, 206, 206, 0.688); */
        
    }
    
    .allitems{
        width: 100%;
        height: 300px;
        overflow: scroll;
        /* background-color: yellowgreen; */
    }
    
    .cartitemsdivallele{
        width: 100%;
        height: auto;
        /* background-color: yellow; */
        position: relative;
        top: 45px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}


@media only screen and (max-width:425px){
    .cartitemsdiv{
        width: 100%;
        height: auto;
        padding: 0px;
        margin-bottom: 90px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: red; */
    }
    
    .divnames{
        width: 100%;
        height: 100px;
        padding: 0px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        /* background-color: yellowgreen; */
    }
    
    .divnames+div>a>button{
        width: 80px;
        font-size: 10px;
    }

    .divnames+div{
        width: 70px;
    }
    
    .divnames>h4 , .divnames>h5{
        width: fit-content;
        font-size: 15px;
        text-align:start;
        /* background-color: yellowgreen; */
    }

    .divnames p{
        font-size: 15px;
    }
    
    .divnames>div{
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: violet; */
    }

    .divnames>div>a{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .cartitemsdiv img{
        width: 60px;
        height: 80px;
    }
    
    .lastdiv{
        width: 100%;
        height: 10vh;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    .alldivs{
        width: 100%;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        padding: 500px 0px;
    }

    .totalpri{
        width: 300px;
        height: fit-content;
    }
    
    .paymentform{
        width: 100%;
        height: 500px;
        position: relative;
        top: 80px;
        margin-right:0px;
        padding: 8px;

        /* background-color: rgba(206, 206, 206, 0.688); */
        
    }
    
    .allitems{
        width: 100%;
        height: 300px;
        overflow: scroll;
        /* background-color: yellowgreen; */
    }
    
    .cartitemsdivallele{
        width: 100%;
        height: auto;
        /* background-color: yellow; */
        position: relative;
        top: 45px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}


@media only screen and (max-width:768px){
    .cartitemsdiv{
        width: 100%;
        height: auto;
        padding: 0px;
        margin-bottom: 90px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: red; */
    }
    
    .divnames{
        width: 60%;
        height: 100px;
        padding: 0px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        /* background-color: yellowgreen; */
    }
    
    .divnames+div>a>button{
        width: 100px;
        font-size: 13px;
    }

    .divnames+div{
        width: 70px;
    }
    
    .divnames>h4 , .divnames>h5{
        width: fit-content;
        font-size: 18px;
        text-align:start;
        /* background-color: yellowgreen; */
    }

    .divnames p{
        font-size: 15px;
    }
    
    .divnames>div{
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: violet; */
    }

    .divnames>div>a{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .cartitemsdiv img{
        width: 60px;
        height: 80px;
    }
    
    .lastdiv{
        width: 100%;
        height: 10vh;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    .alldivs{
        width: 100%;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: aqua; */
        padding: 500px 0px;
    }

    .totalpri{
        width: 600px;
        height: auto;
    }
    
    .paymentform{
        width: 100%;
        height: 500px;
        position: relative;
        top: 80px;
        margin-right:0px;
        padding: 10px;

        /* background-color: rgba(206, 206, 206, 0.688); */
        
    }
    
    .allitems{
        width: 100%;
        height: 300px;
        overflow: scroll;
        /* background-color: yellowgreen; */
    }
    
    .cartitemsdivallele{
        width: 100%;
        height: auto;
        /* background-color: yellow; */
        position: relative;
        top: 55px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}