
#cate{
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 73px;
    background-color: #FFCE32;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 0px;

}

#cate>a{
    width: 100px;
    height: 100px;
    /* background-color: rgba(153, 205, 50, 0.93); */
    border-radius: 50%;
    padding: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

#applecate{
    border: solid 3px #1D63FF;
}

.cards1{
    width: 250px;
    height: 300px;
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.cards1 img{
    width: 100px;
    height: 130px;
}

#imgcard,#img2ele, #img3ele, #img4ele, #img5ele{
    width: fit-content;
}

#totalc1, #totalc12, #totalc13, #totalc14, #totalc15{
    width: 100%;
    height: auto;
    padding: 150px;
    position: relative;
    top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    
}


@media only screen and (max-width:360px){
    #cate{
        width: 100%;
        height: 10vh;
        position: absolute;
        top: 70px;
        background-color: #FFCE32;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0px;
    
    }
    
    #cate>a{
        width: 50px;
        height: 50px;
        /* background-color: rgba(153, 205, 50, 0.93); */
        border-radius: 50%;
        padding: 5px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    
    }
    
    #applecate{
        border: solid 3px #1D63FF;
    }
    
    .cards1{
        width: 250px;
        height: 300px;
        border: solid 1px black;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .cards1 img{
        width: 100px;
        height: 130px;
    }
    
    #imgcard,#img2ele, #img3ele, #img4ele, #img5ele{
        width: fit-content;
    }
    
    #totalc1, #totalc12, #totalc13, #totalc14, #totalc15{
        width: 100%;
        height: auto;
        padding: 150px;
        position: relative;
        top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
}


@media only screen and (max-width:425px){
    #cate{
        width: 100%;
        height: 10vh;
        position: absolute;
        top: 70px;
        background-color: #FFCE32;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0px;
    
    }
    
    #cate>a{
        width: 50px;
        height: 50px;
        /* background-color: rgba(153, 205, 50, 0.93); */
        border-radius: 50%;
        padding: 5px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    
    }
    
    #applecate{
        border: solid 3px #1D63FF;
    }
    
    .cards1{
        width: 250px;
        height: 300px;
        border: solid 1px black;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .cards1 img{
        width: 100px;
        height: 130px;
    }
    
    #imgcard,#img2ele, #img3ele, #img4ele, #img5ele{
        width: fit-content;
    }
    
    #totalc1, #totalc12, #totalc13, #totalc14, #totalc15{
        width: 100%;
        height: auto;
        padding: 150px;
        position: relative;
        top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
}


@media only screen and (max-width:768px){
    #cate{
        width: 100%;
        height: 10vh;
        position: absolute;
        top: 70px;
        background-color: #FFCE32;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0px;
    
    }
    
    #cate>a{
        width: 50px;
        height: 50px;
        /* background-color: rgba(153, 205, 50, 0.93); */
        border-radius: 50%;
        padding: 5px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    
    }
    
    #applecate{
        border: solid 3px #1D63FF;
    }
    
    .cards1{
        width: 250px;
        height: 300px;
        border: solid 1px black;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .cards1 img{
        width: 100px;
        height: 130px;
    }
    
    #imgcard,#img2ele, #img3ele, #img4ele, #img5ele{
        width: fit-content;
    }
    
    #totalc1, #totalc12, #totalc13, #totalc14, #totalc15{
        width: 100%;
        height: auto;
        padding: 120px 100px;
        position: relative;
        top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10px;
        
    }
    
}