
#trendingblock{
    width: 100%;
    height: auto;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trendImg{
    width: 600px;
    height: 400px;
}