@import url('https://fonts.googleapis.com/css2?family=Anta&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family:"Anta", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header{
    background-color: transparent;
}

#navbar{
    background-color: #FFCE32;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav>div{
    width: 400px;
    /* background-color: tomato; */
    text-align: center;
}

#logoimg{
    font-size: 35px;
    font-weight: bold;
}

#logo{
    font-size: 30px;
}


nav>div>a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: 100px;
}

#anchor{
    width: 700px;

}

nav>div+div{
    width: 700px;
    display: flex;
    justify-content: center;
    /* background-color: yellowgreen; */
}

#navicondiv, #crossdiv{
    visibility: hidden;
}

nav>div+div>a{
    width: fit-content;
    margin-right: 100px;
}

header, #navbar{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

footer{
    width: 100%;
    height: 60vh;
    background-color: #e6ba2a;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    position: relative;
    top: 50px;
}

footer>div, footer>div+div+div{
    height: 60vh;
    padding: 100px 0px 100px 100px;
    /* background-color: yellowgreen; */
    color: rgba(0, 0, 0, 0.819);

}

.privpol{
    width: 100%;
    padding: 100px 0px;
}

.privpol>div{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.privpol>div>a, .address a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.819);
}

.privpol>p{
    text-align: center;
    color: rgba(56, 56, 56, 0.764);
}

.address{
    width: 1000px;
}

/* #curserpointer1{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
} */

@media only screen and (max-width:360px){
    #navbar{
        background-color: #FFCE32;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav>div{
        width: 400px;
        /* background-color: tomato; */
        text-align: center;
    }

    #logoimg{
        width: 200px;
        font-size: 30px;
        font-weight: bold;
        /* background-color: aqua; */
    }

    #navicondiv, #cross{
        width: 60px;
        height: 60px;
        /* background-color: violet; */
    }

    #navicondiv{
        visibility: visible;
    }

    #crossdiv{
    }

    #anchor{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #FFCE32;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    

    #crossdiv{
        position: absolute;
        top: 5px;
        right: -140px;
        visibility: hidden;
    }

    #logo{
        font-size: 30px;
    }
    
    
    nav>div>a{
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    
    nav>div+div{
        width: 0px;
        display: flex;
        justify-content: center;
        /* background-color: yellowgreen; */
    }
    
    nav>div+div>a{
        width: fit-content;
        margin-right: 0px;
    }
    
    header, #navbar{
        width: 100%;
        height: 10vh;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 2;
    }
    
    footer{
        width: 100%;
        height: 40vh;
        background-color: #e6ba2a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top:0px;
    }
    
    footer>div, footer>div+div+div{
        width: 100%;
        height: 30vh;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: yellowgreen; */
        color: rgba(0, 0, 0, 0.819);
    
    }
    
    .privpol{
        width: 100%;
        padding: 0px;
    }
    
    .privpol>div{
        padding: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .privpol>div>a, .address a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.819);
    }
    
    .privpol>p{
        display: none;
        text-align: center;
        color: rgba(56, 56, 56, 0.764);
    }
    
    .address{
        width: 100%;
    }
}